@import url('https://fonts.googleapis.com/css?family=Vollkorn');
body {
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  background-image: url(images/back.jpg);
}

.titlebox {
  width: 88vh;
  height: 77vh;
  overflow: scroll;
  font-family: cursive;
  font-weight: normal;
  background-image: url(images/descimg.jpg);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
  color: #444;
  overflow-x: hidden;
  margin: auto;
  display: inline-block;
}

.descriptionbox {
  width: 88vh;
  height: 77vh;
  font-family: cursive;
  font-weight: normal;
  background-image: url(images/descimg.jpg);
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
  color: #444;
  margin: auto;
}

.header {
  padding: 2vh;
  line-height: 6vh;
  height: 5vh;
  z-index: 20;
  margin-bottom: 7vh;
  background-color: #3f7eb6;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .15));
  box-shadow: inset 0 1px rgba(255, 255, 255, .3);
  border: 1px solid rgba(0, 0, 0, .5);
}

h1 {
  font-family: 'Vollkorn', serif;
  text-align: center;
  font-size: 2.75vw;
  font-weight: bold;
  margin: 4.5vh;
  margin-top: 0;
  color: white;
}

h2 {
  text-align: center;
  color: #444;
  font-size: 1.8vw;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  margin: 3.5vh;
}

h3 {
  text-align: center;
  color: #444;
  font-size: 1.2vw;
  margin: 3.5vh;
}

.link {
  text-align: center;
  color: #444;
  font-size: 1.1vw;
  margin: 3.5vh;
}

.container {
  display: flex;
}

.todo {
  top: 0;
  left: 0;
  cursor: pointer;
}

.todo-list li {
  position: relative;
  padding: 2vh 15px 2vh 7.9vh;
  line-height: 5vh;
  font-size: 3vh;
  color: #8b8f97;
  border-bottom: 1px solid #e6ebed;
  border-top: 1px solid #e6ebed
}

li:nth-child(odd) {
  background: #f9f9f9;
}

li:hover {
  background: #eaeaea;
}

.titlebox::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

.titlebox::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.titlebox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d5d5d5;
}